@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap");

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background-color: #193251;
}

.seccion {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.font-monstserrat {
  font-family: "Montserrat", sans-serif;
}

.font-fraunces {
  font-family: "Fraunces", serif;
}
