@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@500&display=swap");

* {
  box-sizing: border-box;
}
html,
body {
  height: 100vh;
  font-family: "League Spartan", sans-serif;
}
